{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
{{!< default}}

<div class="profile">
    {{#if @blog.logo}}<img src="{{@blog.logo}}" class="profileimage" alt="user">{{/if}}
    <h4>{{@blog.title}}</h4>
    <p>{{@blog.description}}</p>
    <hr>
</div>

<section class="posts postindex wrapper">

    <div class="notification">
        <span class="ntitle">Tag</span><span class="message">{{tag.name}}</span>
        <a href="{{@blog.url}}"><i class="fa fa-times"></i></a>
    </div>

    {{#foreach posts}}
    <article class="post {{#if @first}}first{{/if}} {{post_class}}">
        <header>
            <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
            <h2>{{tags}}</h2>
            <h1><a href="{{url}}">{{{title}}}</a></h1>
            <span>
                Posted on <i class="fa fa-clock-o"></i><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>.
            </span>
            <p>{{excerpt characters="260"}}&hellip;</p>
        </header>
    </article>
    {{/foreach}}

    {{pagination}}

</section>
